<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">

    <link rel="stylesheet" href="../static/portfolio/css/about.css">

</head>

<body>
  <header>
    <p>Tomé Roque</p>
    <nav>
      <a href="{% url 'portfolio:hero' %}">Home</a>
      <a href="{% url 'portfolio:about' %}">About Me</a>
      <a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a>
      <a href="{% url 'portfolio:projetos' %}">Projects</a>
    </nav>
  </header>

  <div id="grad1"><div id="gradup"></div></div>

        <h1><h1>{% if hora > 12 %}
                   Good afternoon,
                {% else %}
                   Good morning,
                {% endif %}
                greetings to {{ local }}, where it is {{ hora }}.<br></h1>
        </h1>

        <h1>This is the page where I talk a little more about myself!</h1>
        <p> <br> As I have established before I am both a programmer and an editor, <br> saying that I have been working on some different projects throught
        my life and this is where I am going to show you some of them aswell as some of my personal experiences<br> </p>

    <div class="exp">
        <div class="uni">University projects</div>
        <div class="noraya">Video editing at Noraya agency</div>
        <div class="fute">Former football player, in the local team</div>
        <div class="care">Monitoring at various summer camps, aswell as multiple people related jobs</div>
        <div class="skills">Personal Skills</div>
    </div>


</body>
</html>