<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero</title>

    <link rel="stylesheet" href="../static/portfolio/css/hero.css">

</head>

<body>
  <header>
    <p>Tomé Roque</p>
    <nav>
      <a href="home.html">Home</a>
      <a href="about.html">About me</a>
      <a href="licenciatura.html">Licenciatura</a>
      <a href="projetos.html">Projetos</a>
    </nav>
  </header>

  <main>
    <p>Entre céu e terra.</p>
  </main>

  <article class="primeiro">
    <p><b><i>Viajar? Para viajar basta existir.</i></b> Fernando Pessoa <br><br>Viajar? Para viajar basta existir. Vou de dia para dia, como de estação para estação, no comboio do meu corpo, ou do meu destino, debruçado sobre as ruas e as praças, sobre os gestos e os rostos, sempre iguais e sempre diferentes, como, afinal, as paisagens são.

Se imagino, vejo. Que mais faço eu se viajo? Só a fraqueza extrema da imaginação justifica que se tenha que deslocar para sentir.</p>
  </article>

  <article class='segundo'>
  </article>

  <footer>
    <p>rodapé</p>
  </footer>
</body>

</html>