* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


body > * {
  /* centrando o <p> dos divs */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

/* div "menu" */
header {
  /* O menu está sticky e ocupa 10vh da altura do viewport */
  height: 10vh;
  background: #B300B2;
  color: white;
  position: sticky;
  top: 0;

  display:flex;
  justify-content: space-between;
}

nav {
  display:flex;
  justify-contents: flex-end;
}


nav a {
  display:block;
  padding: 0 1em;
  text-decoration: none;
  font-size: 1rem;
  color: white
}

.uni { grid-area: header; }
.noraya { grid-area: menu; }
.care { grid-area: main; }
.fute { grid-area: right; }
.skills { grid-area: footer; }

.exp {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.exp > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}