.cadeiras1o {
display: flex;
background-color: #e3f3ff;
flex-flow: row wrap;
justify-content: space-around;
align-items:space-around;
padding: 50px;
}

.cadeiras1o > div {
display: flex;
justify-content: space-around;
border-radius: 20px;
margin: 10px;
}

.cadeiras1o img{
border-radius: 20px 0 0 20px;
height: 100%;
}

.cadeiras1o div div:last-child{
width: 150px;
background-color: white;
padding: 20px;
border-radius: 0 20px 20px 0;

display: flex;
justify-content: center;
align-items: center;
}


.cadeiras2o {
display: flex;
background-color: #F7EBA3;
flex-flow: row wrap;
justify-content: space-around;
align-items:space-around;
padding: 50px;
}

.cadeiras2o > div {
display: flex;
justify-content: space-around;
border-radius: 20px;
margin: 10px;
}

.cadeiras2o img{
border-radius: 20px 0 0 20px;
height: 100%;
}

.cadeiras2o div div:last-child{
width: 150px;
background-color: white;
padding: 20px;
border-radius: 0 20px 20px 0;

display: flex;
justify-content: center;
align-items: center;
}


.cadeiras3o {
display: flex;
background-color: #F7AAA3;
flex-flow: row wrap;
justify-content: space-around;
align-items:space-around;
padding: 50px;
}

.cadeiras3o > div {
display: flex;
justify-content: space-around;
border-radius: 20px;
margin: 10px;
}

.cadeiras3o img{
border-radius: 20px 0 0 20px;
height: 100%;
}

.cadeiras3o div div:last-child{
width: 150px;
background-color: white;
padding: 20px;
border-radius: 0 20px 20px 0;

display: flex;
justify-content: center;
align-items: center;
}